/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  width: 50%;
  margin-top: 100px;
  border: none;
}

h2 {
  text-align: center;
}

h6 {
  font-size: 1rem;
  font-weight: lighter;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/
