.container {
    background-color: #fff;
}

.container > h1, h2 {
    padding: 20px;
    text-align: center;
}

.container > p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.profile-list .section {
    border: 1px solid rgb(203 213 225);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}

.first-sub {
    border: 1px solid rgb(203 213 225);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-top: 10px;
}

.second-sub {
    padding-top: 10px;
}

.third-sub {
    padding-top: 7px;
}

.second-sub, .third-sub p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.second-sub, .third-sub p span {
    font-weight: bold; 
}

.clubs-section {
    border: 1px solid rgb(203 213 225);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-evenly;
    margin: 40px;
}


